body {
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  position: relative;
}

.page-wrapper {
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
  z-index: 1;
}
 
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav__list {
  list-style: none;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 6%;
  padding-right: 6%;
} 

.main-nav__item {
  width: 20%;
  padding-bottom: 15px;
  padding-top: 15px;
  display: block;
  text-align: left;
}

.main-nav__item:nth-child(3),
.main-nav__item:nth-child(4) {
  text-align: right;
}

.main-nav__list a {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-nav__list a:hover {
  color: #81b3d2;
}

.main-nav__list a:active { 
  color: #b2b2b2;
}

/*.main-nav__list a:visited {
  color: #766357; 
}*/

.main-page {
  width: auto;
  margin: 0;
}

.main-section {
  background-color: #f2f2f2;
  background-image: url('../img/backgroundphoto.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  box-sizing:border-box;
  width: 100%;
  padding-top: 77px;
  padding-bottom: 74px;
  position: relative;
}

.main-section::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url('../img/frame.png');
  background-repeat: no-repeat;
  background-position: center;
}

.main-page__slogan {
  line-height: 26px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 56px;
}

.main-page__slogan-title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 25px;
  margin-top: 0;
  color: #000000;
  /*max-width: 36.6%;
  margin-right: auto;
  margin-left: auto;*/
}

.main-page__slogan-text {
  font-size: 14px;
  line-height: 26px; 
  margin: 0 auto;
}

.main-page__hyphen {
  display: block;
  width: 13px;
  height: 2px;
  background-color: #000000;
}

.feature__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; 
}

.feature__info {
  width: 33.3%;
  padding-top: 38px;
  padding-bottom: 61px; 
}

.feature__pic {
  display: flex;
  width: 66.7%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
   
.feature__pic img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.feature__info--sity h3 {
  font-size: 21px;
  line-height: 21px;
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.feature__number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 27px;
  margin-right: auto;
  margin-left: auto;
}

.feature__info--sity .feature__cause {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.feature__item:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
}

.feature__list,
.feature__detail-list {
  list-style: none;
}

.feature__item:nth-child(1),
.feature__item:nth-child(2) {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature__detail-list > li {
  color: #333333;
  background-color: #ffffff;
}

.feature__detail-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.feature__detail-item {
  display: block;
}

.feature__detail-item--house {
  padding-top: 60px;
  padding-bottom: 86px;
}

.feature__detail-item--food {
  padding-top: 61px;
  padding-bottom: 86px;
}

.feature__detail-item--souvenirs {
  padding-top: 56px;
  padding-bottom: 86px;
}

.feature__detail-house {
  margin-bottom: 29px;
}

.feature__detail-food {
  margin-bottom: 30px;
}

.feature__detail-souvenirs {
  margin-bottom: 29px;
}

.feature__detail-item--house h4 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 28px;
  margin-right: auto;
  margin-left: auto;  
}

.feature__detail-item--food h4 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 27px;
  margin-right: auto;
  margin-left: auto;  
}

.feature__detail-item--souvenirs h4 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;  
}

.feature__detail-item--house .feature__detail-cause {
  font-size: 14px;
  line-height: 21px;
  max-width: 70%;
  margin: 0 auto;
}

.feature__detail-item--food .feature__detail-cause {
  font-size: 14px;
  line-height: 21px;
  max-width: 70%;
  margin: 0 auto;
}

.feature__detail-item--souvenirs .feature__detail-cause {
  font-size: 14px;
  line-height: 21px;
  max-width: 80%;
  margin: 0 auto; 
}

.feature__info--bridge h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 26px;
  margin-right: auto;
  margin-left: auto;
}

.feature__info--bridge .feature__cause {
  font-size: 14px;
  line-height: 21px;
  max-width: 80%;
  margin: 0 auto;  
}

.feature__item:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.feature__item:nth-child(3),
.feature__item:nth-child(4),
.feature__item:nth-child(5) {
  width: 33.3%;
  padding-top: 48px;
  padding-bottom: 61px;
  background-color: #eeeeee
}

.feature__item--space h3 {
  font-size: 21px;
  line-height: 21px;
  max-width: 30%;
  margin-top: 0;
  margin-bottom: 29px;
  margin-right: auto;
  margin-left: auto;
}

.feature__item--road h3 {
  font-size: 21px;
  line-height: 21px;
  max-width: 30%;
  margin-top: 0;
  margin-bottom: 29px;
  margin-right: auto;
  margin-left: auto;
}

.feature__item--tourist h3 {
  font-size: 21px;
  line-height: 21px;
  max-width: 30%;
  margin-top: 0;
  margin-bottom: 29px;
  margin-right: auto;
  margin-left: auto;
}

.feature__item--space .feature__cause {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  max-width: 56%;
}

.feature__item--road .feature__cause {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  max-width: 70%;
}

.feature__item--tourist .feature__cause {
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  max-width: 70%;
}

.search-hotels {
  background-color: #ffffff;
  padding-top: 56px;
  text-align: center;
  position: relative;
}

.search-hotels .search-hotels__title {
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 26px; 
  margin-right: auto;
  margin-left: auto;
}

.search-hotels__request {
  font-size: 14px;
  line-height: 24px;  
  padding-bottom: 139px;
  text-transform: uppercase;
  margin: 0 auto;
}

.search-hotels__button {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
  color: #ffffff;
  padding: 29px;
  display: inline-block;
  max-width: 100%;
  width: 100%;
}

.search-hotels__button:hover {
  background-color: #604e43;
}

.search-hotels__button:active {
  background-color: #503e33;
  color: #857871;
}

.search-hotels__modal {
  position: absolute;
  left: 26.3%;
  top: 24%;
  z-index: 1;
  width: 47.5%;
  max-width: 100%;
}

.search-hotels__form {
  width: 100%;
  margin: auto;
}

.search-hotels__section {
  background-color: #ffffff; 
  border: none;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-hotels img {
  width: 100%;
  height: auto;
}

.search-hotels__section input {
  box-sizing:border-box;
  width: 75%;
  height: 38px;
  padding: 0;  
  background-color:#f2f2f2;
  border:2px solid transparent;
  outline: none;
}

.search-hotels__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.search-hotels__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-hotels__item--arrial input,
.search-hotels__item--departure input {
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 40px;
  font: inherit;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  width: 75%;
  height: 38px;
}

.search-hotels__section input:hover {
  background-color: #ebebeb;
}

.search-hotels__section input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-hotels__item--arrial,
.search-hotels__item--departure {
  margin-bottom: 30px;
}

.search-hotels__item--departure {
  position: relative;
}

.search-hotels__item--arrial {
  position: relative;
}

.search-hotels__item--arrial .search-hotels__link-calendar {
  position: absolute;
  top: 25%;
  right: 4%;
}

.search-hotels__item--departure .search-hotels__link-calendar {
  position: absolute;
  top: 25%;
  right: 4%;
}

.search-hotels__item--arrial .search-hotels__label {
  margin-right: 21px;
}

.search-hotels__item--departure .search-hotels__label {
  margin-right: 17px;
}

.search-hotels__item--adult .search-hotels__label {
  margin-right: 40px;
}

.search-hotels__item--children .search-hotels__label{
  margin-right: 27px;
}

.search-hotels__item--adult input,
.search-hotels__item--children input {
  width: 38px;
  height: 38px;
  text-align: center;
  font: inherit;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotels__label {
  font-weight: 700; 
  line-height: 26px;
  margin-right: 
}

.search-hotels__link-calendar:hover path{
   fill: #000000; 
}

.search-hotels__link-calendar:active path {
   fill: #81b3d2;
}

.adult__toggle-minus,
.adult__toggle-plus,
.children__toggle-minus,
.children__toggle-plus {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #a9a9a9;
  border: none;
  padding: 0;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
}

.adult__toggle-minus:hover,
.adult__toggle-plus:hover,
.children__toggle-minus:hover,
.children__toggle-plus:hover {
  color: #000000;
}

.adult__toggle-minus:active,
.adult__toggle-plus:active,
.children__toggle-minus:active,
.children__toggle-plus:active {
  color: #81b3d2;
}
  
.search-hotels__select-button {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #81b3d2;
  color: #ffffff; 
  padding: 14px;
  width: 100%;
 }

.search-hotels__select-button:hover {
  background-color: #669ec0;
}

.search-hotels__select-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map__pic {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.footer-page__main{
  max-width: inherit;
  position: absolute;
  bottom: 0;   
}

.footer-page {
  background-color: rgba(249, 250, 246, 0.9);
  display: flex;
  width: 100%;
}

.footer-page__container {
  padding-top: 49px;
  margin: 0;
  width: 33.3%; 
}

.footer-page__reference {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-left: 60px;
}

.socials {
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 0;
  width: 33.3%;
}

.socials__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.socials__button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.socials__button:hover {
  background-color: #669ec0;
}

.socials__button:active {
  background-color: #5496bd;
}

.socials__svg:active path {
  fill: #88b6d1; 
}

.copyright {
  display: flex;
  justify-content: flex-end;
  width: 33.3%;
  padding-right: 29px;
}

.copyright__text {
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding-top: 49px;
  margin-right: 8px;
}

.copyright__logo {
  display: block;
  padding-top: 39px; 
  width: 115px;
  height: 41px;
}

.copyright__logo-htmlacademy:hover path {
    fill: #81b3d2;
}

.copyright__logo-htmlacademy:active path {
    fill: #c1bfc0;
}

/* Вторая страница */

.main-container__form {
  color: #ffffff;
  background-color: #f2f2f2;
  background-image: url('../img/backgroundphoto2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%; 
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
}

.main-container__section:nth-child(1) {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 24.2%;
}

.main-container__section:nth-child(1) .main-container__title,
.main-container__section:nth-child(2) .main-container__title {
  margin-bottom: 28px;
}

.main-container__section:nth-child(3) .main-container__title {
  margin-bottom: 9px;
}

.main-container__section:nth-child(2) {
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  width: 24.2%;
}

.main-container__section:nth-child(3) {
  text-align: center;
  margin-left: 0;
  padding: 0;
  width: 30%;
}

.main-container__title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
}

.checkbox {
  margin-bottom: 23px;
}

.checkbox:nth-last-child(1) {
  margin-bottom: 0;
}

.main-container__section--infrastructure {
  position: relative;
} 
 
.main-container__section--infrastructure .checkbox__on:nth-child(1) {
  position: absolute;
  top: 24%;
  left: 0;
}

.main-container__section--infrastructure .checkbox__on:nth-child(2) {
  position: absolute;
  top: 49%;
  left: 0;
}

.price-controls {
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.main-container__controls {
  position: relative;
  margin-bottom: 32px;
}

.main-container__controls .main-container__controls-range {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.main-container__controls .main-container__controls-active {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .main-container__label--min,
.price-controls .main-container__label--max {
  width: 90px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.main-container__section input{
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.main-container__button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 6px;
  padding-top: 6px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
} 

.main-container__button:active {
  background-color: #ffffff;
  color: #000000;
}

.main-container__section {
  margin-right: 0;
  border: none;
}

.main-container__section p {
  margin-top: 0; 
  margin-bottom: 0;
}

.search-result__sort {
  background-color: #ffffff;
}

.search-result__container-sort {
  display: flex;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 32px;
  padding-left: 6%;
  padding-right: 6%;
  border-bottom: 2px solid #e5e5e5; 
}

.seach-result__caption {
  font-size: 21px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 52px;
}

.sort { 
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 100%
}

.sort__title {
  margin: 0;
  margin-right: 42px;
 font-size: 12px;
 line-height: 18px;
}

.sort__list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.sort__item {
  margin-right: 32px;
}

.sort__item:nth-child(3) {
  margin-right: auto;
}

.sort__item:nth-child(4) {
  margin-right: 0;
  display: flex;
}

.sort__item:nth-child(4) > a:first-child {
  margin-right: 18px;
}

.sort__list a {
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sort__list a:hover {
  color: #81b3d2;
}

.sort__list a:active {
  color: #000000;
  border: none;
}

.sort__list a:visited {
  color: #81b3d2;
  border: none;
}

.sort__list .sort__button {
   border: none;
}

.sort__icon-up:hover path,
.sort__icon-down:hover path {
  fill: #231f20;   
}

.sort__icon-up:active path,
.sort__icon-down:active path {
  fill: #81b3d2;   
}

.sort__icon-up:visited path,
.sort__icon-down:visited path {
  fill: #81b3d2;   
}

.search-result__list {
  margin: 0;
  padding: 0;
}

.search-result__article {
  border-bottom: 2px solid #e5e5e5; 
  display: flex;
  justify-content: flex-start;
  padding-bottom: 30px;
  padding-top: 25px;
  padding-left: 6%;
  padding-right: 6%;
}

.search-result__pic {
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
}

.search-result__info {
  margin-right: auto;
}

.search-result__cost {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-result__container {
  display: flex;
}

.search-result__container-info:nth-child(1) {
  margin-right: 6px;  
}

.search-result__cost-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 17px;
}

.search-result__rating-info {
  display: flex;
  flex-direction: column;
}

.search-result__rating-list {
  margin; 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.search-result__rating-item {
  display: flex;
  margin-right: 6px;
}

.search-result__rating-item:nth-last-child(1) {
  margin-right: 0;  
}

.search-result__list,
.search-result__rating-list {
  list-style: none;
}

.search-result__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  display: flex;
  width: 100%;
}

.search-result__title:hover {
  color: #81b3d2;
}

.search-result__title:active {
  color: #b2b2b2;
}

.search-result__button-info {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 17px;
  padding-right: 19px;
  background-color: #81b3d2;
}

.search-result__button-info:hover {
  background-color: #669ec0;
}

.search-result__button-info:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.search-result__button-info--brown {
  background-color: #766357;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.search-result__button-info--brown:hover {
  background-color: #604e43;
}

.search-result__button-info--brown:active {
  background-color: #503e33;
  color: #857871;
}

.search-result__rating-total {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 14px;
  background-color: #f2f2f2;
  display: block;
  margin-top: auto;
}

.footer-page--search { 
  background-color: #ffffff;
}